* {
    box-sizing: border-box;
}

body {
    background-color: #edb3f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

#logo {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#logo > a > img {
    resize: none;
    width: 50%;
    height: 50%;
}

section {
    width: 100%;
    height: 100%;
    max-width: 85%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gambarkacangpolong {
    width: 60%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 3em;
}

#paragrafbox {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#paragrafbox > h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h2 > a {
    text-decoration: underline;
    color: #a1daaf;
}

footer {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    font-family: 'Raleway', sans-serif;
}
